HEADER_ROOT_PATH = ${PROJECT_DIR}/${TARGET_NAME}/RNStatic/Public
HEADER_SEARCH_PATHS = $(inherited) "${HEADER_ROOT_PATH}" "${HEADER_ROOT_PATH}/DoubleConversion" "${HEADER_ROOT_PATH}/React-Core" "${HEADER_ROOT_PATH}/React-DevSupport" "${HEADER_ROOT_PATH}/React-RCTActionSheet" "${HEADER_ROOT_PATH}/React-RCTAnimation" "${HEADER_ROOT_PATH}/React-RCTBlob" "${HEADER_ROOT_PATH}/React-RCTImage" "${HEADER_ROOT_PATH}/React-RCTLinking" "${HEADER_ROOT_PATH}/React-RCTNetwork" "${HEADER_ROOT_PATH}/React-RCTSettings" "${HEADER_ROOT_PATH}/React-RCTText" "${HEADER_ROOT_PATH}/React-RCTVibration" "${HEADER_ROOT_PATH}/React-RCTWebSocket" "${HEADER_ROOT_PATH}/React-cxxreact" "${HEADER_ROOT_PATH}/React-jsi" "${HEADER_ROOT_PATH}/React-jsiexecutor" "${HEADER_ROOT_PATH}/React-jsinspector" "${HEADER_ROOT_PATH}/glog" "${HEADER_ROOT_PATH}/react-native-orientation" "${HEADER_ROOT_PATH}/react-native-webview" "${HEADER_ROOT_PATH}/yoga"
LIBRARY_SEARCH_PATHS = $(inherited) $(PROJECT_DIR)/$(TARGET_NAME)/RNStatic/Release
OTHER_LDFLAGS = $(inherited) -ObjC -l"DoubleConversion" -l"Folly" -l"React-Core" -l"React-DevSupport" -l"React-RCTActionSheet" -l"React-RCTAnimation" -l"React-RCTBlob" -l"React-RCTImage" -l"React-RCTLinking" -l"React-RCTNetwork" -l"React-RCTSettings" -l"React-RCTText" -l"React-RCTVibration" -l"React-RCTWebSocket" -l"React-cxxreact" -l"React-jsi" -l"React-jsiexecutor" -l"React-jsinspector" -l"glog" -l"react-native-orientation" -l"react-native-webview" -l"stdc++" -l"yoga" -framework "JavaScriptCore"
#include "config.xcconfig"
